:root {
  --color-primary: #201E43;
  --color-secondary: #134B70;
  --color-accent: #508C9B;
  --color-background: #EEEEEE;
}

.button{
  background-color: var(--color-secondary) !important;
}

.button:hover{
  background-color: var(--color-primary) !important;
}

.light-button{
  background-color: var(--color-accent) !important;
}

.light-button:hover{
  background-color: var(--color-secondary) !important;
}


.sidebar-gradient {
  background: linear-gradient(to bottom,
    var(--color-primary),
    var(--color-secondary),
    var(--color-accent)
  );
  color: var(--color-background);
}

.primary{
  background-color: var(--color-primary) !important;
}

.secondary{
  background-color: var(--color-secondary);
}

.accent{
  background-color: var(--color-accent);
}

.background{
  background-color: var(--color-background) !important;
}
.menu-gradient {
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-primary));
}

.DatePicker__calendarContainer {
  z-index: 9999 !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}


/* index.css یا App.css */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #93c5fd transparent;  /* رنگ آبی ملایم Tailwind: blue-300 */
}

/* برای Chrome و Edge */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* برای اسکرول افقی */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #93c5fd; /* آبی ملایم */
  border-radius: 4px;
  border: 2px solid transparent;
}


.custom-scroll {
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .custom-scroll {
    max-height: none;
  }
}
